<?xml version="1.0"?>
<config>
    <modules>
        <Sendpulse_Integration>
            <version>1.0</version>
        </Sendpulse_Integration>
    </modules>
    <global>
        <blocks>
            <sendpulseintegration>
                <class>Sendpulse_Integration_Block</class>
            </sendpulseintegration>
        </blocks>
        <models>
            <sendpulseintegration>
                <class>Sendpulse_Integration_Model</class>
            </sendpulseintegration>
        </models>
        <helpers>
            <sendpulseintegration>
                <class>Sendpulse_Integration_Helper</class>
            </sendpulseintegration>
        </helpers>
    </global>
    <!--под водпросом-->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sendpulseintegration after="Mage_Adminhtml">Sendpulse_Integration</sendpulseintegration>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <sendpulseintegration>
                <use>standard</use>
                <args>
                    <module>Sendpulse_Integration</module>
                    <frontName>sendpulseintegration</frontName>
                </args>
            </sendpulseintegration>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sendpulseintegration_options>
                                            <title>Store Hello World Module Section</title>
                                        </sendpulseintegration_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>